@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
    --buttonTransitionOut: 
        transform 300ms cubic-bezier(0,.14,.21,2.53),
        background-color 200ms;
    --buttonTransitionIn: 
        transform 500ms ease-out 100ms,
        background-color 200ms;

    overflow-x: hidden;
    transition: background-color 200ms ease-out;
}

body, [theme='dracula'] {
    --background: #282a36;
    
    --foreground: #f8f8f2;
    --foreground-shadow: #232530;

    --background2: #44475a;
    --background2-fill: var(--background3);
    --background2-fill-hover: var(--background3-hover);
    --background2-fill-active: var(--background3-active);
    --background2-hover: #3d4052;
    --background2-active: #373a4b;
    
    --control-button-background: var(--background2);
    --control-button-inner: var(--background2-fill);
    --control-button-inner-hover: var(--background2-fill-hover);
    --control-button-inner-active: var(--background2-fill-active);
    --control-button-on: var(--accent);
    --control-button-off: var(--background2);

    --control-slider-bar: var(--background2);
    --control-slider-bar-fill: var(--background2-fill);
    --control-slider-notch: var(--background2);
    --control-slider-handle: var(--background2-fill);
    --control-slider-handle-hover: var(--background2-fill-hover);
    --control-slider-handle-active: var(--background2-fill-active);

    --background3: #5e627b;
    --background3-hover: #575b74;
    --background3-active: #4f536b;
    --foreground2: #6272a4;
    --foreground3: black;

    --select: var(--foreground);
    --select-color: var(--background);

    --overlay: var(--background3);
    --overlay-color: var(--foreground);
    --overlay-fade: #282a3693;

    --colorCyan: #8be9fd;
    --colorGreen: #50fa7b;
    --colorGreen-hover: #4ad66d;
    --colorGreen-active: #3eae5a;
    --colorOrange: #ffb86c;
    --colorPink: #ff79c6;
    --colorPurple: #bd93f9;
    --colorRed: #ff5555;
    --colorYellow: #f1fa8c;

    --color-warning: var(--colorRed);

    --color-regular-button: var(--background);
    --regular-button: var(--colorGreen);
    --regular-button-hover: var(--colorGreen-hover);
    --regular-button-active: var(--colorGreen-active);

    --color-topbar-button: var(--color-regular-button);
    --topbar-button: var(--regular-button);
    --topbar-button-hover: var(--regular-button-hover);
    --topbar-button-active: var(--regular-button-active);

    --color-options-button: var(--foreground);
    --options-button: var(--background2);
    --options-button-hover: var(--background2-hover);
    --options-button-active: var(--background2-active);

    --accent: #ff94d2;
}

[theme='cherry'] {
    --background: #F56377;
    --background2: #84B984;
    --background2-fill: var(--background3);
    --background2-fill-hover: var(--background3-hover);
    --background2-fill-active: var(--background3-active);
    --background2-hover: #73a773;
    --background2-active: #6c9b6c;
    --background3: #76b176;
    --background3-hover: #73a773;
    --background3-active: #6c9b6c;
    --foreground: #f8f8f2; 
    --foreground-shadow: #bd4c5b;
    --foreground2: #6272a4;
    --foreground3: black;

    --select: white;
    --select-color: black;

    --overlay: white;
    --overlay-color: black;
    --overlay-fade: #522d31a1; 

    --colorCyan: #8be9fd;
    --colorGreen: #50fa7b;
    --colorGreen-hover: #4ad66d;
    --colorGreen-active: #3eae5a;
    --colorOrange: #ffb86c;
    --colorPink: #ff79c6;
    --colorPurple: #bd93f9;
    --colorRed: #ff5555;
    --colorYellow: #f1fa8c;
    
    --color-warning: var(--foreground);

    --color-regular-button: var(--background);
    --regular-button: var(--colorGreen);
    --regular-button-hover: var(--colorGreen-hover);
    --regular-button-active: var(--colorGreen-active);

    --color-topbar-button: var(--foreground);
    --topbar-button: var(--background2);
    --topbar-button-hover: var(--background2-hover);
    --topbar-button-active: var(--background2-hover-active);

    --color-options-button: var(--foreground);
    --options-button: var(--background2);
    --options-button-hover: var(--background2-hover);
    --options-button-active: var(--background2-active);

    --accent: #fff580;
}

[theme='light'] {
    --background: white;
    --background2: #e6eeff;
    --background2-fill: #a9beed;
    --background2-fill-hover: #9cb3e6;
    --background2-fill-active: #8ea6dc;
    --background3: white;
    --background3-hover: #d5ddf0;
    --background3-active: #c8d3e9;
    --foreground: black;
    --foreground-shadow: rgb(199, 199, 199);
    --select: var(--background);
    --select-color: var(--foreground);
    
    --overlay: var(--background3);
    --overlay-color: var(--foreground);
    --overlay-fade: #43434393;

    --colorGreen: #25a345;
    --colorGreen-hover: #1c8f39;
    --colorGreen-active: #167c2f;

    --colorRed: #FF5F5F;
    --colorRed-hover: #e65353;
    --colorRed-active: #c54444;
    --colorPink: hotpink;

    --color-warning: var(--colorRed);

    --color-regular-button: var(--background);
    --regular-button: var(--colorRed);
    --regular-button-hover: var(--colorRed-hover);
    --regular-button-active: var(--colorRed-active);
    --color-topbar-button: var(--color-regular-button);
    
    --topbar-button: var(--regular-button);
    --topbar-button-hover: var(--regular-button-hover);
    --topbar-button-active: var(--regular-button-active);

    --color-options-button: var(--background);
    --options-button: var(--colorRed);
    --options-button-hover: var(--colorRed-hover);
    --options-button-active: var(--colorRed-active);

    --accent: #f54c4c;
}

html {
    height: 100%;
}

body {
    margin: 0;
    height: 100%;
    background-color: var(--background);
    color: var(--foreground);
    font-family: 'Nunito', sans-serif;
}

vcenter {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    justify-content: center;
    gap: 3px;
    width: fit-content;
    margin: auto;
}

vcenter > button, vcenter > input {
    align-self: stretch;
}

input[type='text'], input[type='password'] {
    margin-bottom: 2px;
    padding: 2px;
    border: 0;
    color: var(--foreground3);
    box-shadow: var(--foreground-shadow) 0 0 10px;
}

.button {
    transition: var(--buttonTransitionOut);
    cursor: pointer;
}

.button:hover, .button.hover {
    background-color: var(--button-hover);
}

.button:active, .button.active {
    background-color: var(--button-active);
    transition: var(--buttonTransitionIn);
    transform: scale(0.9);
}

button {
    padding: 4px 8px;
    border: none;
    border-radius: 3px;
    background-color: var(--regular-button);
    color: var(--color-regular-button);
    transition: var(--buttonTransitionOut);
    font-size: 0.9em;
    cursor: pointer;
}

.topbar button {
    background-color: var(--topbar-button);
    color: var(--color-topbar-button);
}

button:hover {
    background-color: var(--regular-button-hover);
}

.topbar button:hover {
    background-color: var(--topbar-button-hover);
}

button:active {
    background-color: var(--regular-button-active);
    transition: var(--buttonTransitionIn);
    transform: scale(0.9);
}

.topbar button:active {
    background-color: var(--topbar-button-active);
}

vcenter > noflow {
    display: flex;
    width: 0;
    height: 0;
    flex-direction: column;
    align-items: center;
    /* gap: 3px; */
    /* width: fit-content; */

    padding-top: 1em;
}

vcenter > noflow > div {
    display: flex;
    width: max-content;
    flex-direction: column;
    align-items: center;
    gap: 3px;
}

abbr {
    text-decoration: underline;
    text-decoration-style: dotted;
}

#info {
    color: var(--color-warning);
}

.top-label {
    position: absolute;
    top: 20px;
    text-align: center;
    left: 0;
    right: 0;
    font-weight: bold;
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
}

.topbar {
    flex-shrink: 0;
    box-sizing: border-box;
    background-color: var(--background2);
    width: 100%;
    height: 50px;
    padding: 8px 16px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.topbar {
    box-shadow: 0 1px 14px var(--foreground-shadow);
}

.topbar-left, .topbar-right {
    display: flex;
    flex-flow: row nowrap;
    gap: 5px;
    align-items: center;
}

b {
    color: var(--accent);
    transition: letter-spacing 200ms ease-in-out;
}

b[notint] {
    color: inherit;
}

b:hover {
    letter-spacing: 2px;
}

.content {
    padding: 16px;
    flex-grow: 1;
    position: relative;
}

.listing {
    display: flex;
    padding: 8px;
    background-color: var(--background2);
    border-radius: 4px;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: center;
}

.device {
    border-radius: 4px;
    /* background-color: var(--background3); */
    padding: 8px;
    flex-grow: 1;
    text-align: center;
    transition: var(--buttonTransitionOut);
    cursor: pointer;
}

.device:hover {
    background-color: var(--background3-hover);
}

.device:active {
    background-color: var(--background3-active);
    transition: var(--buttonTransitionIn);
    transform: scale(0.9);
}


#options-button {
    position: fixed;
    bottom: 8px;
    left: 8px;
    display: inline-block;
    padding: 4px 8px;
    color: var(--color-options-button);
    background-color: var(--options-button);
    border-radius: 4px;
    transition: var(--buttonTransitionOut);
    cursor: pointer;
}

#options-button:hover {
    background-color: var(--options-button-hover);
}

#options-button:active {
    background-color: var(--options-button-active);
    transition: var(--buttonTransitionIn);
    transform: scale(0.9);
}

hr {
    width: 80px;
    border: none;
    height: 3px;
    border-radius: 3px;
    background-color: var(--accent);
    transition: var(--buttonTransitionOut);
}

hr:active {
    transition: var(--buttonTransitionIn);
    transform: scale(0.9);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--overlay-fade);
    backdrop-filter: blur(2px);
    box-sizing: border-box;
    padding: 70px;

    opacity: 0%;
    transition: opacity 140ms;
    pointer-events: none;
}

.overlay.open {
    transition: opacity 300ms;
    opacity: 100%;
    pointer-events: all;
}

.overlayContent {
    margin: auto;
    width: 500px;
    height: fit-content;
    color: var(--overlay-color);
    background-color: var(--overlay);
    border-radius: 6px;
    box-sizing: border-box;
    padding: 32px;
    padding-bottom: 20px;

    transform: scale( 0.7 );
    transition: transform 140ms ease-out;
}

.open .overlayContent {
    transform: scale( 1 );
}

.options {
    margin-top: 16px;
    display: flex;
    flex-flow: row wrap;
    gap: 5px;
    justify-content: space-between;
}

.options > * {
    flex-basis: 40%;
    flex-grow: 1;
}

.options > *:nth-child(2n + 1) {
    text-align: left;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
}

.options > *:nth-child(2n) {
    text-align: right;
}

select {
    border: none;
    border-radius: 3px;
    background-color: var(--select);
    color: var(--select-color);
}

.chat {
    margin: auto;
    border-radius: 3px;
    width: 300px;
    background-color: var(--background2);
    height: 400px;
    display: flex;
    flex-flow: column nowrap;

    position: absolute;
    bottom: 40px;
    right: 23px;
}

.chat-header {
    font-weight: bold;
    margin-bottom: 2px;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 2px;
    border-radius: 3px 3px 0 0;
    text-align: center;
    background-color: var(--background3);
    cursor: grab;
}

.chat-messages {
    margin: 4px;
    flex-grow: 1;
    overflow-x: hidden;
    overflow-y: scroll;
}

.message {
    font-size: 0.8em;
}

.timestamp {
    font-size: 0.6em;
    opacity: 0.6;
}

.chat-input {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 4px;
}

.chat-input > input[type='text'] {
    flex-grow: 1;
    margin-right: 4px;
}

#control-list, #cursors {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#cursors {
    pointer-events: none;
    overflow: hidden;
}

#control-list > * {
    box-sizing: border-box;
}

.control-button {
    background-color: var(--control-button-background);
    border-radius: 5%;
    padding: 2%;
}

.button-inner {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: var(--control-button-inner);
    box-sizing: border-box;
    padding: 8%;
    --button-hover: var(--control-button-inner-hover);
    --button-active: var(--control-button-inner-active);
}

.control-label {
    width: 100%;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 0;
    font-size: 200%;
    top: -1.5em;
}

.control-button > div > i {
    color: var(--control-button-on);
    vertical-align: top;
    transition: color 200ms;
}

.control-button.off > div > i {
    color: var(--control-button-off);
}

.control-slider {
    --value: 0;
}

.bar {
    margin: auto;
    height: 100%;
    width: 3%;
    border-radius: 999999px;
    background-color: var(--control-slider-bar);
}

.bar-fill {
    position: absolute;
    bottom: 0;
    left: calc( 50% - 1.5% );
    height: calc( (100% - 16% * 2 / 5) * var(--value) + 8% * 2 / 5 );
    width: 3%;
    border-radius: 999999px;
    background-color: var(--control-slider-bar-fill);
}

.notches {
    height: 100%;
    position: absolute;
    bottom: 0;
    width: 50%;
    right: 50%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    padding-bottom: calc( 16% * 2 / 5 );
    padding-top: calc( 16% * 2 / 5 );
}

.notches > div {
    text-align: right;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.notch {
    width: 20%;
    aspect-ratio: 3 / 1;
    margin-right: 8%;
    margin-left: 8%;
    border-radius: 9999999px;
    background-color: var(--control-slider-notch);
}

.notch-label {
    height: 0;
    line-height: 0;
}

.handle {
    aspect-ratio: 1 / 1;
    width: 16%;
    background-color: var(--control-slider-handle);
    border-radius: 50%;
    position: absolute;
    bottom: calc( (100% - 16% * 2 / 5) * var(--value) );
    right: calc( 50% - 16% / 2 );
    cursor: grab;
}

.handle:hover, .handle.hover {
    background-color: var(--control-slider-handle-hover);
}

.handle:active, .handle.active {
    background-color: var(--control-slider-handle-active);
}

.wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    pointer-events: none;
    overflow: hidden;
}

.wrapper > * {
    pointer-events: auto;
}

.cursor {
    position: absolute;

    font-size: 140%;
    /* --user-color: var(--colorRed); */
    color: var(--user-color);
    text-shadow:
        -1px -1px 0 var(--foreground),
        0   -1px 0 var(--foreground),
        1px -1px 0 var(--foreground),
        1px  0   0 var(--foreground),
        1px  1px 0 var(--foreground),
        0    1px 0 var(--foreground),
        -1px  1px 0 var(--foreground),
        -1px  0   0 var(--foreground);
}

.cursor-name {
    font-size: 70%;
    top: 1.5em;
    text-shadow: none;
    padding: 0 5px;
    color: var(--background);
    font-weight: bold;
    background-color: var(--user-color);
    position: absolute;
    display: inline-block;
}

.share {
    width: 100%;
    height: 100%;
    user-select: none;
}

#server-name:hover {
    text-decoration: underline;
    cursor: pointer;
}